<main>

  <section class="card-container">
    @for(card of cards; track card.title) {
      <section class="card">
        <div class="card-title">{{ card.title }}</div>
        <div class="card-description">{{ card.description }}</div>
      </section>
    }
  </section>

  <div class="progress">
    <span>{{ "TAMAMLANAN SİPARİŞ 400/300" }}</span>
  </div>

  <h1 class="title">{{ "SİPARİŞ KONTROL EKRANI" }}</h1>

  <form [formGroup]="filters" (submit)="filter()">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Gönderi Takip Numarası" formControlName="shipmentTrackingNo" />
      <mat-icon matSuffix>{{ "search" }}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Sipariş Numarası" formControlName="orderTrackingNo" />
      <mat-icon matSuffix>{{ "search" }}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Plaka Numarası" formControlName="plate" />
      <mat-icon matSuffix>{{ "search" }}</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>{{ "Tarih Aralığı  " }}</mat-label>
      <mat-date-range-input
        [formGroup]="dateRange"
        [rangePicker]="campaignOnePicker"
        [comparisonStart]="dateRange.value.start"
        [comparisonEnd]="dateRange.value.end">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "Durum" }}</mat-label>
      <mat-select formControlName="status">
        @for (item of status; track item; let idx = $index) {
          <mat-option [value]="idx">{{ item }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "Dağıtım Durumu" }}</mat-label>
      <mat-select formControlName="releasedForDistribution">
        <mat-option value="EVET">{{ "Dağıtıma Çıkarıldı" }}</mat-option>
        <mat-option value="HAYIR">{{ "Dağıtıma Çıkarılmadı" }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="clearFilters()" class="danger-button" type="reset">{{ "Filtreleri Temizle" }}</button>
    <button mat-flat-button type="submit">{{ "Filtrele" }}</button>
  </form>

  <section class="datagrid">
    @for (row of rows; track row) {
      <section class="datagrid-header">{{ row }}</section>
    }

    @for(column of columns; track column.orderNo) {
      <ng-container>
        <section class="datagrid-content">{{ column.orderNo }}</section>
        <section class="datagrid-content">{{ column.shipmentTrackingNo }}</section>
        <section class="datagrid-content">{{ column.orderTrackingNo }}</section>
        <section class="datagrid-content">{{ hideName(column.customerName) }}</section>
        <section class="datagrid-content">{{ column.district }}</section>
        <section class="datagrid-content">{{ column.plate }}</section>
        <section class="datagrid-content">{{ column.releasedForDistribution }}</section>
        <section class="datagrid-content">{{ status[column.Status] }}</section>
        <section class="datagrid-content">{{ date(column.Date) }}</section>
        <section class="datagrid-content">
          <a [state]="column" [routerLink]="['/detail', column.orderNo.toString()]">{{ "Sipariş Detay" }}</a>
        </section>
      </ng-container>
    }
  </section>

  <mat-paginator
    (page)="pageChangeEvent($event)"
    [length]="customers.length"
    [pageSize]="paginator.pageSize"
    [pageIndex]="paginator.pageIndex"
    [pageSizeOptions]="paginator.pageSizeOptions"
    showFirstLastButtons
    aria-label="Select page"
  />
</main>
