.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.progress {
  margin-bottom: 3rem;
  border-radius: 1rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background: #45214A;
  position: relative;
  height: 3rem;

  &:before {
    content: "";
    display: block;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1A6566;
    border-radius: 1rem;
  }

  span {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.card-container {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;

  .card {
    border-radius: 1rem;
    padding: 1.5rem 1rem;

    &:nth-child(even) {
      background: #cfdeff;
    }

    &:nth-child(odd) {
      background: #d1edef;
    }

    .card-title {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .card-description {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(5, minmax(auto, 1fr));
  }
}

form {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }

  @media(min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
  }

  button.danger-button {
    display: block;
    background: #BD2A2E;
    border: 1px solid #BD2A2E;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    border-radius: 2rem;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:hover {
      background-color: darken(#BD2A2E, 5%);
      color: #ffffff;
    }
  }
}

.datagrid {
  display: grid;
  grid-template-columns: repeat(10, minmax(auto, 1fr));
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  .datagrid-header {
    border-bottom: 1px solid #EFEFEF;
    color: #888888;
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    &:not(:nth-child(10)) {
      border-right: 1px solid #EFEFEF;
    }
  }

  .datagrid-content {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;


    a {
      display: block;
      white-space: nowrap;
      background-color: #03A64A;
      color: white;
      max-width: fit-content;
      border-radius: 8px;
      padding: 0.5rem 1rem;
    }
  }
}
