.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }

  @media(min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
  }

  button.danger-button {
    display: block;
    border-radius: 0.2rem;
    background: #BD2A2E;
    border: 1px solid #BD2A2E;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;

    &:not(:disabled) {
      cursor: pointer;
    }
  }
}

.datagrid {
  display: grid;
  grid-template-columns: repeat(10, minmax(auto, 1fr));
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  .datagrid-header {
    border-bottom: 1px solid #EFEFEF;
    color: #888888;
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    &:not(:nth-child(10)) {
      border-right: 1px solid #EFEFEF;
    }
  }

  .datagrid-content {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;


    a {
      display: block;
      white-space: nowrap;
      background-color: #03A64A;
      color: white;
      max-width: fit-content;
      border-radius: 8px;
      padding: 0.5rem 1rem;
    }
  }
}
