*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
}

input:not([type="checkbox"], [type="radio"]), select {
  width: 100%;
  background-color: $gray;
  border: 1px solid $gray;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  color: $gray-text;
  height: 4rem;

  &::placeholder {
    color: $gray-text;
  }

  &:focus {
    outline: none;
  }
}

select {
  cursor: pointer;
  appearance: none;
  background-image: url("../icons/chevron-down-circle.svg");
  background-size: 2rem;
  background-position: center right 1rem;
  background-repeat: no-repeat;
}

main {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1400px) {
    max-width: 1200px;
  }
}
